* {
    box-sizing: border-box;
    text-align: center;
}

.dog-image {
    width: 300px;
}

.pic-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section {
    margin-bottom: 50px;
}

div {
    margin-top: 50px;
    margin-bottom: 50px;
}